-py
addict
aiofiles
aioice
aiortc
aiosqlite
alabaster
antlr4-python3-runtime
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
asyncio
attrs
autopep8
av
Babel
backcall
bcrypt
beautifulsoup4
bidict
bleach
blinker
boto3
botocore
build
cachetools
certifi
cffi
charset-normalizer
click
cloudinary
cmake
CMRESHandler
colorama
coloredlogs
comm
contourpy
coverage
cryptography
cvzone
cycler
debugpy
decorator
defusedxml
Deprecated
dnspython
docutils
einops
elasticsearch
email-validator.post2
eventlet
executing
fastjsonschema
filelock
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Login
Flask-PyMongo
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
flatbuffers
fonttools
fqdn
future
gast
gevent
google-auth
google-auth-oauthlib
google-crc32c
google-pasta
greenlet
grpcio
h5py
humanfriendly
hydra-core
idna
ifaddr
imagesize
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jmespath
joblib
json-tricks
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe
mistune
mmcv-full
mpmath
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
oauthlib
omegaconf
onnx
onnx-simplifier
onnxruntime
opencv-contrib-python
opencv-python
opt-einsum
overrides
packaging
pandocfilters
parso
pickleshare
Pillow
pip-tools
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
pycocotools
pycodestyle
pycparser
pyDeprecate
pyee
Pygments
PyJWT
pylibsrtp
pymongo
pyOpenSSL
pyparsing
pyproject_hooks
pyreadline3
pyrsistent
python-dateutil
python-engineio
python-json-logger
python-socketio
pytube
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
rapidfuzz
referencing
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
s3transfer
scikit-learn
scipy
Send2Trash
six
sniffio
snowballstemmer
sounddevice
soupsieve
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
stack-data
stringcase
super-gradients
sympy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
textblob
threadpoolctl
tinycss2
tomli
torch
torchdata
torchmetrics
torchtext
torchvision
tornado
tqdm
traitlets
treelib
typing_extensions
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
WTForms
y-py
yapf
ypy-websocket
zipp
zope.event
zope.interface
